body {font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;}
a {color: #00B7FF;}
table, td, tr, th {border-collapse: collapse; border: solid 1px black; padding: 4px 10px;}
td {text-align: center;}
thead {background-color: #f0f0f0;}
#poll_question {width: 400px;}
.all_polls {width: 600px; height: 400px;}
.right {width: 600px; text-align: right;}